<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" property="og:title">
<meta name="description" content="{{ if eq $isHomePage true }}{{ .Site.Params.Description }}{{ end }}{{ if eq $isHomePage false }}{{ .Summary | plainify | safeHTML }}{{ end }}">
<title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
<link rel="stylesheet" href="https://wesleya.gitlab.io/book-breakdowns/css/style.css">
<link rel="stylesheet" href="https://wesleya.gitlab.io/book-breakdowns/css/font-awesome-core.css">
<link rel="stylesheet" href="https://wesleya.gitlab.io/book-breakdowns/css/font-awesome-light.css">
<link href="https://fonts.googleapis.com/css?family=Eczar:400,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400" rel="stylesheet">
<link rel="shortcut icon" href="favicon-book.ico" />
