{{ define "main" }}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-size-3-mobile is-size-1-tablet is-size-1-desktop has-text-centered">
                Book Breakdowns
            </h1>
            <h2 class="subtitle is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-centered">
                A collection of notes from some of the books I find myself re-reading too often.
            </h2>
    </div>
	<br/>
        <div class="has-text-centered">
	    <a class="button is-primary is-inverted is-outlined is-medium is-hidden-tablet" href="/post">Browse Now</a>
	    <a class="button is-primary is-inverted is-outlined is-large is-hidden-mobile" href="/post">Browse Now</a>
	</div>	
    </div>
</section>

<div class="section">
    <div class="container">
        <h2 class="subtitle is-size-4-mobile is-size-3-tablet is-size-2-desktop has-text-centered">It's Like Cliffs Notes For Mostly Self-Help Books</h2>
	<h2 class="subtitle is-size-4-desktop is-size-5-tablet is-size-5-mobile has-text-centered">Self-Help because that's what I enjoy. And the notes are for my forgetful memory.</h2>
	<br/>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image has-text-centered">

			    <svg xmlns="http://www.w3.org/2000/svg" width="30%" viewBox="0 0 60 60" class="heroicon-book heroicon heroicon-sm" style="padding-top: 40px">
				        <path class="heroicon-book-cover heroicon-component-fill" d="M7 4a3 3 0 0 1 3-3h43v42H10v7h7v3h-7a3 3 0 0 1-3-3V4zm20 46h26v3H27v-3z"></path>
					    <path class="heroicon-book-binding heroicon-component-accent heroicon-component-fill" d="M7 4a3 3 0 0 1 3-3h6v39H7V4z"></path>
					        <polygon class="heroicon-book-bookmark heroicon-component-accent heroicon-component-fill" points="17 45 27 45 27 59 22 56 17 59"></polygon>
						    <path class="heroicon-book-pages heroicon-component-fill" d="M27 50h25v-7H10v7h7v-5h10v5z"></path>
						        <path class="heroicon-shadows" d="M27 53h26V40H10a3 3 0 0 0-3 3v7a3 3 0 0 0 3 3h7v-5h10v5z"></path>
							    <path class="heroicon-outline" fill-rule="nonzero" d="M54 44h-1v5h1v5H28v6l-6-3-6 3v-6h-6a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h44v44zm-36 8v4.76l4-2 4 2V46h-8v6zm-2-1H9v-9h43v-1H10a2 2 0 0 0-2 2v7c0 1.1.9 2 2 2h6v-1zm0-2v-3h-3v-1h38v-1H11v5h5zm12-3v3h23v-1H33v-1h18v-1H28zm0 5v1h24v-1H28zM10 39h5V2h-2v35h-1V2h-1v35h-1V2a2 2 0 0 0-2 2v35.54a3.98 3.98 0 0 1 2-.54zm42 0V2H17v37h35zM25 13h17v1H25v-1zm2 3h13v1H27v-1z"></path>
			    </svg>
                    </div>
                    <div class="card-content">
                        <div clas="content">
                            <p class="subtitle has-text-centered">
                                <span class="has-text-primary">I read</span> self help books all day. Cause I enjoy it!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-title has-text-centered">

			    <svg xmlns="http://www.w3.org/2000/svg" width="30%" viewBox="0 0 60 60" class="heroicon-lightbulb heroicon heroicon-sm" style="padding-top:40px;">
				        <path class="heroicon-lightbulb-bulb heroicon-component-fill" d="M34 41.62c.83-.16 1.65-.37 2.45-.63a4 4 0 0 0-.45 1.84V46H24v-3.17a4 4 0 0 0-.45-1.84c.8.26 1.62.47 2.45.63v-2.04A18.98 18.98 0 0 1 11 21a19 19 0 1 1 23 18.58v2.04z"></path>
					    <path class="heroicon-lightbulb-screw heroicon-component-accent heroicon-component-fill" d="M25 53v-1h-.5a1.5 1.5 0 0 1 0-3h.5v-2h10v2h.5a1.5 1.5 0 0 1 0 3H35v1h.5a1.5 1.5 0 0 1 0 3H35v2l-4 1h-2l-4-1v-2h-.5a1.5 1.5 0 0 1 0-3h.5z"></path>
					        <path class="heroicon-lightbulb-source heroicon-component-accent heroicon-component-fill" d="M28 38a2 2 0 0 1 2-2 2 2 0 0 1 2 2v10h-4V38z"></path>
						    <path class="heroicon-shadows" d="M47.24 32.99A18.93 18.93 0 0 0 48.9 23a19 19 0 0 1-37.8 0 19.22 19.22 0 0 0 1.66 9.99 21.11 21.11 0 0 0 5.95 5.72l2.7 2.7a2 2 0 0 1 .49.78 18.93 18.93 0 0 0 16.2 0 2 2 0 0 1 .49-.78l2.7-2.7a21.11 21.11 0 0 0 5.95-5.72zM25 47h10v2H25v-2zm0 4h10v2H25v-2zm0 4h10v2H25v-2z"></path>
						        <path class="heroicon-outline" fill-rule="nonzero" d="M51 21c0 7.44-3.87 13.98-9.71 17.71l-2.7 2.7a2 2 0 0 0-.59 1.42V46a2 2 0 0 1-2 2v1.09a1.5 1.5 0 0 1 0 2.82v1.18a1.5 1.5 0 0 1 0 2.82v.74a2 2 0 0 1-1.26 1.85l-3.56 1.43a1 1 0 0 1-.37.07h-1.62a1 1 0 0 1-.37-.07l-3.56-1.43A2 2 0 0 1 24 56.65v-.74a1.5 1.5 0 0 1 0-2.82V51.9a1.5 1.5 0 0 1 0-2.82V48a2 2 0 0 1-2-2v-3.17a2 2 0 0 0-.59-1.42l-2.7-2.7A21 21 0 1 1 51 21zM34 41.62v-2.04A18.98 18.98 0 0 0 49 21a19 19 0 1 0-23 18.58v2.04c-.83-.16-1.65-.37-2.45-.63a4 4 0 0 1 .45 1.84V46h4v-5l-6-23h3v1h-1.7l4.8 18.4a2 2 0 0 1 .9-1.13V30h-1a1 1 0 1 1 0-2h4a1 1 0 1 1 0 2h-1v6.27a2 2 0 0 1 .9 1.13L36.7 19H35v-1h3l-6 23v5h4v-3.17a4 4 0 0 1 .45-1.84c-.8.26-1.62.47-2.45.63zM31 41v-3a1 1 0 0 0-.5-.87l-.5-.29-.5.3a1 1 0 0 0-.5.86v8h2v-5zm3 12v-1h-8v1h8zm-8 3v.65L29.39 58h1.22L34 56.65V56h-8zm0-7h8v-1h-8v1zm-2 1.5c0 .28.22.5.5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0 4c0 .28.22.5.5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm2.67-35.27c-.2.1-.43.14-.67.14v-1c.08 0 .17-.01.22-.04l1.11-.56c.39-.19.95-.19 1.34 0l1.11.56c.1.05.34.05.44 0l1.11-.56c.39-.19.95-.19 1.34 0l1.11.56c.05.03.14.04.22.04v1c-.24 0-.47-.05-.67-.14l-1.11-.56a.64.64 0 0 0-.44 0l-1.11.56c-.39.19-.95.19-1.34 0l-1.11-.56a.64.64 0 0 0-.44 0l-1.11.56zM13 21A17 17 0 0 1 30 4v1a16 16 0 0 0-14.31 23.16l-.9.44A16.93 16.93 0 0 1 13 21z"></path>
			    </svg>

                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p class="subtitle has-text-centered">
			    <span class="has-text-primary">I take notes</span>. Cause I can't remember things.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image has-text-centered">

			    <svg xmlns="http://www.w3.org/2000/svg" width="30%" viewBox="0 0 60 60" class="heroicon-heart heroicon heroicon-sm" style="padding-top:40px;">
				        <path class="heroicon-heart-outer heroicon-component-accent heroicon-component-fill" d="M31.41 9.97L30 11.37l-1.4-1.41-1.28-1.27A16 16 0 0 0 4.7 31.3L30.13 56.5 55.31 31.3A16 16 0 0 0 32.7 8.7L31.4 9.97z"></path>
					    <path class="heroicon-heart-inner heroicon-component-fill" d="M31.4 15.63l-1.41 1.41-1.41-1.41-1.42-1.43-2.67-2.69A12 12 0 0 0 7.5 28.48l22.6 22.37L52.5 28.5A12 12 0 0 0 35.5 11.5l-4.11 4.12z"></path>
					        <path class="heroicon-outline" fill-rule="nonzero" d="M31.41 9.97l1.28-1.28A16 16 0 0 1 55.3 31.3L30.13 56.5 4.7 31.3A16 16 0 0 1 27.3 8.7l1.27 1.27L30 11.38l1.42-1.41zM53.9 29.9a14 14 0 0 0-19.8-19.8L30 14.21l-1.41-1.42-2.68-2.69A14 14 0 0 0 6.1 29.9l24.02 23.77L53.9 29.9zM31.4 15.63l4.11-4.12A12 12 0 0 1 52.5 28.5L30.12 50.85 7.5 28.48A12 12 0 0 1 24.49 11.5l2.67 2.69 1.42 1.43 1.4 1.41 1.42-1.4zm19.67-2.7a10 10 0 0 0-14.14 0l-6.95 6.95-4.24-4.27c-1.1-1.12-2-2.01-2.67-2.68A10 10 0 0 0 8.91 27.06l21.2 20.97 20.96-20.96a10 10 0 0 0 0-14.14zm-40.73 1.41A7.97 7.97 0 0 1 16 12v1a6.98 6.98 0 0 0-6.26 3.87l-.9-.45a8 8 0 0 1 1.5-2.08zm-2 3.36l.95.29c-.2.65-.3 1.33-.3 2.01H8c0-.77.12-1.55.35-2.3zm1.98 7.94a7.92 7.92 0 0 1-2.17-4.07l.98-.2a6.9 6.9 0 0 0 1.9 3.55L16 29.85v1.4l-5.68-5.61z"></path>
			    </svg>

                    </div>
                    <div class="card-content">
                        <div clas="content">
                            <p class="subtitle has-text-centered">
                                <span class="has-text-primary">I share</span> those notes with you. Cause why not?!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section landing-page-section">
    <div class="container">
        <h1 class="subtitle is-size-4-mobile is-size-3-tablet is-size-2-desktop has-text-centered">Short and to the Point</h1>
        <h2 class="subtitle is-size-4-desktop is-size-5-tablet is-size-5-mobile has-text-centered">I try my best to digest the books I read the most down to a single blog post. Here are a couple examaples below</h2>
	<br/>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            “So Good They Can't Ignore You: Why Skills Trump Passion in the Quest for Work You Love.”
                        </p>
                        <p>
                            - Cal Newport
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span><a href="/post/so-good-they-cant-ignore-you/">My Notes</a></span>
                        </p>
                        <p class="card-footer-item">
                            <span><a href="https://www.amazon.com/gp/product/1455509124/ref=as_li_tl?ie=UTF8&tag=bookbreakdown-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1455509124&linkId=e07ecee13692bb0a78e7a13a062dd0bd">Amazon</a></span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            “The Passionate Programmer: Creating a Remarkable Career in Software Development”
                        </p>
                        <p>
                            - Chad Fowler
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span><a href="/post/the-passionate-programmer/">My Notes</a></span>
                        </p>
                        <p class="card-footer-item">
                            <span><a href="https://www.amazon.com/gp/product/1934356344/ref=as_li_tl?ie=UTF8&tag=bookbreakdown-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1934356344&linkId=9203f03ce7a2d31822c9c328c9cdbfed">Amazon</a></span>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h1 class="subtitle is-size-4-mobile is-size-3-tablet is-size-2-desktop has-text-centered">Frequently Asked Questions</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            What kind of books will I find here?
                        </p>
                        <div class="content">
                            I enjoy reading about career development, productivity, software development and personal finance.
                            You can see my most recent posts <a href="/post">here</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            How often do you post?
                        </p>
                        <div class="content">
                            Honestly I have no Idea, sorry! Sometimes I go through a book every couple weeks.
                            Other times it's every couple months. You can <a>subscribe</a> to updates if you want though.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            Who is this for?
                        </p>
                        <div class="content">
                            I started taking notes when I realized I couldn't recall details of my favorite books without re-reading them every so often.
                            I thought It'd be a cool personal project to formalize these notes for others to reference as well.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
{{ end }}
